{% extends "layouts/default.html" %}
{% block title %}Create{% endblock %}

{% block content %}

<form method="POST" action="/app/create" class="form-group">
    <label>Stock category:</label>

    <select name="stock-category" id="stockCategory" class="form-control" required>
        <option disabled selected value> -- Select an option -- </option>
        <option value="food">Food</option>
        <option value="water">Water</option>
        <option value="medicine">Medicine</option>
        <option value="weapon">Weapon</option>
        <option value="non-lethal-protection-equipment">Non-Lethal Protection Equipment</option>
    </select>
    
    <br>
    <label>Name</label>
    <br>
    <input type="text" name="name" required class="form-control">
    <br>
    <label>Description</label>
    <br>
    <input type="text" name="description" class="form-control">
    <br>
    <label>Amount</label>
    <br>
    <input type="number" name="amount" required class="form-control">
    <br>
    <label>Cost per package</label>
    <br>
    <input type="number" step="0.01" min="0"
           name="cost-per-package" required class="form-control">
    <br>

    <span id="caloriesPerPackageInput">
        <label>Calories per package</label>
        <br>
        <input type="number" name="calories-per-package" required class="form-control">
        <br>
    </span>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>$(document).ready(() => {
     $('#caloriesPerPackageInput').hide();
     $('#stockCategory').change(() => {
         const stockCategory = $('#stockCategory').val();

         if (stockCategory === 'food') {
             $('#caloriesPerPackageInput').show();
         }

         else {
             $('#caloriesPerPackageInput').hide();
         }

     });
 });
</script>

{% endblock %}
