{% extends "layouts/default.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h1>
  {{ list-type|capfirst }}
</h1>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Total Cost</th>

            {% ifequal list-type "food" %}
            <th>Total Potential Calories</th>
            {% endifequal %}

            {% ifequal list-type "water" %}
            <th>Total ML (Millilitre)</th>
            {% endifequal %}
        </tr>

        {% for datum in data %}
        <tr>
            <td>{{ datum.id }}</td>
            <td>{{ datum.name }}</td>
            <td>{{ datum.description }}</td>
            <td>{{ datum.amount }}</td>
            <td>${{ datum.cost-per-package }}</td>

            {% ifequal list-type "food" %}
            <td>{{ datum.calories-per-package }}</td>
            {% endifequal %}

            {% ifequal list-type "water" %}
            <td>{{ datum.millilitre-per-package }}ML</td>
            {% endifequal %}

            <td><a href="/app/update-form/{{ datum.id }}?stock-category={{ list-type }}">Update</a></td>
            <td><a href="/app/delete/{{ datum.id }}?stock-category={{ list-type }}">Delete</a></td>
        </tr>
        {% endfor %}
    </thead>
</table>
{% endblock %}
