{% extends "layouts/default.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="d-flex align-items-center">
    <h1>
        {{ list-type|capfirst }}
    </h1>
    <!-- <button class="ml-3 btn btn-primary">Add new - go to create-form with preselected category</button> -->
</div>


<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Total Cost</th>

            {% ifequal list-type "food" %}
            <th>Total Potential Calories</th>
            {% endifequal %}

            {% ifequal list-type "water" %}
            <th>Total ML (Millilitre)</th>
            {% endifequal %}
            <th>Actions</th>
        </tr>

        {% for datum in data %}
        <tr>
            <td>{{ datum.id }}</td>
            <td>{{ datum.name }}</td>
            <td>{{ datum.description }}</td>
            <td>{{ datum.amount }}</td>
            <td>${{ datum.cost-per-package }}</td>

            {% ifequal list-type "food" %}
            <td>{{ datum.calories-per-package }}</td>
            {% endifequal %}

            {% ifequal list-type "water" %}
            <td>{{ datum.millilitre-per-package }}ML</td>
            {% endifequal %}

            <td>
                <a class="nav-link" data-toggle="dropdown" 
                    href="#" role="button">
                    <i class="fas fa-ellipsis-h fa-2x"></i>
                </a>
                <div class="dropdown-menu" >
                    <a class="dropdown-item" 
                        href="/app/update-form/{{ datum.id }}?stock-category={{ list-type }}">
                        Update
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="dropdown-item" 
                        href="/app/delete/{{ datum.id }}?stock-category={{ list-type }}">
                        Delete
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>

            
        </tr>
        {% endfor %}
    </thead>
</table>
{% endblock %}
