{% extends "layouts/default.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Total Cost</th>
    </tr>

    {% for datum in data %}
    <tr>
        <td>{{ datum.id }}</td>
        <td>{{ datum.name }}</td>
        <td>{{ datum.description }}</td>
        <td>{{ datum.amount }}</td>
        <td>${{ datum.cost-per-package }}</td>
        <td>{{ datum.calories-per-package }}</td>
    </tr>
    {% endfor %}
    </thead>
  </table>
{% endblock %}
