{% extends "layouts/default.html" %}
{% block title %}Update{% endblock %}

{% block content %}

<form method="POST" action="/app/update" class="form-group">
    <label>Name</label>
    <br>
    <input type="text" name="name" required class="form-control" value="{{ datum.name }}">
    <br>
    <label>Description</label>
    <br>
    <input type="text" name="description" class="form-control" value="{{ datum.description }}">
    <br>
    <label>Amount</label>
    <br>
    <input type="number" name="amount" required class="form-control" value="{{ datum.amount }}">
    <br>
    <label>Cost per package</label>
    <br>
    <input type="text" name="cost-per-package" required class="form-control" value="{{ datum.cost-per-package }}">
    <br>
    <label>Calories per package</label>
    <br>
    <input type="number" name="calories-per-package" required class="form-control" value="{{ datum.calories-per-package }}">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
