<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} | Quaremain</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
  </head>
  
  <body>

      <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">


                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          File
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/">Overview</a>
                      </div>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          About
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/about">About Quaremain</a>
                      </div>
                  </li>
                  
              </ul>
          </div>
      </nav>

      <div class="container">
          {% block content %}

          
          {% endblock %}
      </div>
      
      <script src="/js/jquery.min.js"></script>
      <script>window.jQuery</script>
      <script src="/js/popper.min.js"></script>
      
      <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
