{% extends "layouts/default.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
 table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     
 }
</style>

<table style="width: 100%">
    <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Total Potential Calories</th>
    </tr>
    <tr>
        <td>Slim Jim (small)</td>
        <td>Easy snacks</td>
        <td>17</td>
        <td>8200</td>
    </tr>
    <tr>
        <td>Raynold's Salted Cashews (small)</td>
        <td>Easy snacks</td>
        <td>128</td>
        <td>17200</td>
    </tr>
</table>
{% endblock %}
